<div class="container px-4 py-5" id="{{ include.id }}">
  <h2 class="pb-2 border-bottom">{{ include.title }}</h2>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    {%- for el in include.data %}
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url({{ el.img }});">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ el.title }}</h3>
          <p class="pt-2 mt-2 mb-2 lh-1">{{ el.text }}</p>
        </div>
      </div>
    </div>
    {%- endfor %}
  </div>
</div>