<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="{{ site.baseurl }}/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img width="32" height="32" src="{{ include.img }}">
    <span class="fs-4">{{ include.title }}</span>
  </a>

  <ul class="nav nav-pills">
    {% for el in include.items -%}
    <li class="nav-item">
      {% if el.active -%}
      <a href="#" class="nav-link active" aria-current="page">
      {%- else -%}
      <a href="#" class="nav-link">
      {%- endif %}
        {{ el.text }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</header>